html
  head
    title File Metadata Microservice
  body
    h1 File Metadata Microservice
    form(enctype='multipart/form-data', action='/upload', method='post')
      p Upload a file to view its size in bytes.
      input(type='file' name='uploaded-file')
      input(type='submit', value='Upload')
